<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h2>Submitted Information</h2>
        <ul>
            <li>Name: <%= user_data.name %></li>
            <li>Dojo: <%= user_data.dojo_location %></li>
            <li>Favorite Language: <%= user_data.favorite_language %></li>
            <li>Comment: <%= user_data.comment %></li>
        </ul>
    </body>
</html>