<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Dojo Survey</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
    </head>
    <body>
        <h1>Welcome to the Dojo Survey!</h1>
        <div class="box-div">
            @foreach(var error in ViewBag.Errors)
            {
                <p class="red">@error</p>
            }
            <form action="/process" method="post">
                <div class="element-group">
                    <label for="Name">Your Name:</label>
                    <input type="text" name="Name"/>
                </div>
                <div class="element-group">
                    <label for="Location">Dojo Location:</label>
                    <select name="Location">
                        <option value="seattle">Seattle</option>
                            <option value="san jose">San Jose</option>
                            <option value="jamaica">Jamaica</option>
                            <option value="hong kong">Hong Kong</option>
                            <option value="bermuda triangle">Bermuda Triangle</option>
                            <option value="space">Space</option>
                    </select>
                </div>
                <div class="element-group">
                    <label for="Language">Favorite Language:</label>
                    <select name="Language">
                        <option value="Python">Python</option>
                        <option value="C#">C#</option>
                        <option value="Javascript">Javascript</option>
                        <option value="Swift">Swift</option>
                    </select>
                </div>
                <div class="element-group">
                    <label for="Comment">Comment (Optional):</label>
                    <textarea name="Comment">
                    </textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </fieldset>
    </body>
</html>

